---
import {Tabs, TabItem} from '@astrojs/starlight/components'
import { games } from '../types/game';
---

<Tabs syncKey='games'>
  {games.filter(x => x.dependencies.length > 0)
    .map(game => 
      <TabItem label={game.name}>
        <ul>
          {game.dependencies.map(mod => 
            <li><a href={mod.url}>{mod.name}</a></li>
          )}
        </ul>
      </TabItem>
    )}
</Tabs>