---
import {Tabs, TabItem} from '@astrojs/starlight/components'
import { games } from '../types/game';
---

<Tabs syncKey='games'>
  {games.map(game => 
    <TabItem label={game.name}>
      <ul>
        <li>Enable Modding: <a href={game.modGuideUrl}>{game.modGuideUrl}</a></li>
        <li>Enable File Extensions: <a href='https://www.youtube.com/watch?v=6rOCUZ8opLM'>https://www.youtube.com/watch?v=6rOCUZ8opLM</a></li>
      </ul>
    </TabItem>
  )}
</Tabs>